@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html{
  margin: 0;
  padding: 0;
  background-color: #252328;
}

*{box-sizing: border-box;}

main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

nav{
  width: 40%;
  height: auto;
  /* padding: 1em; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav button{
  border: 0;
  margin: 10px;
  width: 37%;
  min-width: 40px;
  height: 100px;
  color: white;
  background-color: #16cd91;
  cursor: pointer;
}

.artist-pointer{
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 2px;
}

.artist-pointer::after{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
