@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto:300,400');

body, html{
  margin: 0;
  padding: 0;
  background-color: #252328;
}

*{box-sizing: border-box;}

img{
  width:100%;
  height: auto;
}

.menu{
  width: 10%;
  height: auto;
  display: none;
  position: absolute;
  top: 1em;
  left: 1em;
}

.menu hr{
  width: 100%;
  height: 4px;
  background-color: white;
  margin-bottom: 4px;
  border: 0;
}

main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.nav{
  width: 8%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav button{
  border: 0;
  width: 100%;
  height: 10vh;
  color: white;
  background-color: #335d4f;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

nav button:hover{
  background-color: #16cd91;
}

#chart{
  width: 92%;
  display: flex;
  justify-content: center;
}

.artist-pointer{
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  fill: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 2px;
  width:100px;
  height: 100px
}

.artist-pointer::after{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


.d3-tip {
  line-height: 1;
  padding: 8px;
  background: #f0f0f0;
  color: #ee12cb;
  border-radius: 4px;
  font-size: 1em;
  font-family: 'Roboto'
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #eeeeee;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.artist{
  display: none;
  color: white;
  position: relative;
  padding: 1em;
  font-family: 'Roboto';
  flex-direction: column;
  width: 100%;
}

.artist-info{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
}

.artist-img{
  width: 300px;
  height: 300px;
  margin: 0 auto 2em;
  border-radius: 54%;
  overflow: hidden;
}

.artist-img img{
  width: 110%;
  height: auto;
}

.artist-info h2{
  font-family: 'Fjalla One';
  font-size: 2.5em;
  margin: 0;
}

.header{
  margin: 0.5em 0.9em .4em;
  font-size: 2.5em;
}

.albums{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.artist-label{
  text-align: center;
}

.artist-label h3{
  color: #585858;
}

.album-info{
  width: 100%;
  height: auto;
  margin: 0 2.1em 0.5em 2.1em;
  overflow: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 1.5em 0;
}

.album-img{
  width: 30%;
  height: auto;
}

.album-name{
  width: 50%;
  height: auto;
  padding: .5em;
  align-items: center;
  line-height: 2;
  text-align: right;
}

.album-name p{
  margin:0;
  font-size: 1.2em;
}

.close{
  position: absolute;
  width:10%;
  height: 30px;
  top:2.5em;
  right: 2.5em;
  cursor: pointer;
  border: 1px solid white;
}

.close p{
  font-size: .8em;
  margin: 0;
  text-align: center;
  line-height: 2.2;
  text-transform: uppercase;
}

.close, .close p{
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.close:hover{
  border: 0;
  background-color: white
}

.close:hover p{
  color: #252328;
}

span{
  border: 0;
  width: 6%;
  height: 2px;
  background-color: #bada55;
  margin:0 2em;
}

@media (min-width:1025px){

  .artist-info{
    width: 100%;
    margin: 0;
    height: 550px;
    position: relative;
  }

  .artist-img{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .artist-img img{
    width: 100%;
    height: auto;
    margin-top: -90px;
  }

  .artist-label{
    background-color: #bada55;
    position: absolute;
    top: 2em;
    padding:1em 1.5em 1em 5.5em
  }

  .artist-label h3{
    margin-bottom: 0;
    color: white;
  }

  .album-info{
    width: 20%;
    min-width: 249.5px;
    max-width: 270px;
    height: auto;
    margin:0 1em 2.5em;
    background-color: #616161;
    overflow: auto;
    border: 0;
    padding: 0;
    display: block;
  }

  .album-img{
    width: 100%;
    height: auto;
  }

  .album-name{
    width: 100%;
    height: 70px;
    padding: .5em;
    align-items: center;
    display: flex;
  }

  .album-name p{
    font-size: .8em
  }

  .close{
    position: absolute;
    width:10%;
    height: 30px;
    top:2.5em;
    right: 2.5em;
    cursor: pointer;
    border: 1px solid white;
  }

  span{
    margin: 0 2em 2em;
  }
}

@media (min-width: 320px) and (max-width: 736px) and (orientation: landscape){
  .menu{
    display: block;
  }

  .nav{
    position: absolute;
    z-index: 2;
    width: 14%;
    display: none;
  }

  #chart{
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 736px) and (orientation: portrait){
  .menu{
    display: block;
  }

  .nav{
    position: absolute;
    z-index: 2;
    width: 25%;
    display: none;
  }

  #chart{
    width: 100%;
    display: none;
  }
}
