@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html{
  margin: 0;
  padding: 0;
  background-color: #252328;
}

*{box-sizing: border-box;}

img{
  width:100%;
  height: auto;
}

main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.nav{
  width: 8%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav button{
  border: 0;
  width: 100%;
  height: 10vh;
  color: white;
  background-color: #16cd91;
  cursor: pointer;
}

#chart{
  width: 92%;
}

.artist-pointer{
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  fill: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 2px;
  width:100px;
  height: 100px
}

.artist-pointer::after{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


.d3-tip {
  line-height: 1;
  padding: 8px;
  background: #f0f0f0;
  color: #ee12cb;
  border-radius: 4px;
  font-size: 1em;
  font-family: 'Roboto'
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #eeeeee;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.artist{
  display: none;
  color: white;
  position: relative;
  padding: 1em;
  font-family: 'Roboto';
  flex-direction: column;
  width: 100%;
}

.artist-info{
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 2em 0;
}

.artist-img{
  width: 48%;
  margin: 0 2em 2em;
}

.artist-info h2{
  font-size: 2.5em;
  margin: 0;
}

.albums{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.album-info{
  width: 20%;
  height: auto;
  margin:0 1em 2.5em;
  background-color: #bada55;
  overflow: auto;
}

.album-img{
  width: 100%;
  height: auto;
}

.album-name{
  width: 100%;
  height: 80px;
  padding: .5em;
}

.album-name p{
  margin:0;
}

.close{
  position: absolute;
  width:10%;
  height: 30px;
  top:2.5em;
  right: 2.5em;
  cursor: pointer;
  border: 1px solid white;
}

.close p{
  font-size: .8em;
  margin: 0;
  text-align: center;
  line-height: 2.2;
  text-transform: uppercase;
}
